
<div class="reset-password">
  <h4 class="reset-password__header">Reset Password</h4>
  <div class="reset-password__content">
    <div class="alert alert-danger" ng-if="error" translate-namespace="api_errors.reset_password" translate="{{'.'+ error.error}}"></div>
    <form ng-submit="submit(form)" name="form" novalidate="novalidate" ng-if="!sent">
      <div class="form-group">
        <input class="form-control form-control-underline" name="email" type="email" ng-model="model.email" required="required" placeholder="E-mail address"/>
      </div>
      <div class="btn-actions text-center">
        <button class="btn btn-submit" type="submit">Continue</button>
      </div>
    </form>
    <div ng-if="sent">
      <h4>Check your email</h4>
      <p>We've sent you an email with reset link. Please click on it and follow the instructions.</p>
    </div>
  </div>
</div>