
<div class="info-panel has-navbar">
  <div class="container-fluid">
    <div class="info-panel-heading">Tables debugger</div>
    <div class="info-panel-body"><p>You can use this form to create a API request to your table. To review created decision click &quot;Open Decision&quot; in API response well.</p>

    </div>
  </div>
</div>
<div class="container-fluid block">
  <div class="row">
    <div class="col-md-12">
      <h2>{{table.title}}</h2>
      <p class="lead">{{table.description}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <form class="form-horizontal" novalidate="novalidate" ng-submit="submit(form)" name="form">
        <div class="form-group" ng-repeat="field in fields">
          <label class="col-sm-4 control-label text-overflow">{{field.title}}</label>
          <div class="col-sm-8">
            <div ng-switch="field.type">
              <input class="form-control" ng-if="field.type == $root.APP.types.number" type="number" ng-model="$parent.field.value" name="{{field.key}}" placeholder="{{field.type}}"/>
              <select class="form-control" ng-if="field.type == $root.APP.types.bool" ng-model="$parent.field.value" ng-options="val.value as val.title for val in booleanVariants"></select>
              <input class="form-control" ng-if="field.type == $root.APP.types.string" type="text" ng-model="$parent.field.value" name="{{field.key}}" placeholder="{{field.type}}"/>
              <!--.checkbox(ng-switch-when="$root.APP.types.bool")-->
              <!--  label-->
              <!--    input(type="checkbox", ng-model="field.value",-->
              <!--      name="{{field.alias}}",)-->
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-8 col-sm-push-4">
            <button class="btn btn-primary btn-loading" type="submit" ng-class="{'is-active': loading}">Send
              <div class="btn-loader">
                <div class="glyphicon glyphicon-refresh"></div>
              </div>
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-sm-6">
      <div class="preview">
        <div class="preview__external"><a class="btn btn-clear" ng-if="response._id" ui-sref="history-details({id: response._id})">
            Open Decision&#32;<i class="glyphicon glyphicon-export"></i></a></div>
        <div class="preview__response" hljs="hljs" hljs-source="(response | json: 2)"></div>
      </div>
    </div>
  </div>
</div>
<div class="info-panel">
  <div class="container-fluid">
    <div class="info-panel-heading">Sample CURL</div>
    <div class="info-panel-body">Copy this&#32;<a href="https://en.wikipedia.org/wiki/CURL">CURL</a>&#32;string to your CLI to make a test request to this table. Don't forget to set correct Client ID and Client Secret. You can find them on settings page.
      <pre>$ curl -u CLIENT_ID:CLIENT_SECRET -H 'X-Application: {{project.id}}' {{apiHost}}api/v1/tables/{{table.id}}/decisions \
  -d '{{getRequestData(fields) | sampleCurl}}'</pre>
    </div>
  </div>
</div>