
<form ng-submit="save(form)" name="form" novalidate="novalidate">
  <div class="modal-header">
    <h3 class="modal-title">Change password</h3>
  </div>
  <div class="modal-body">
    <div class="alert alert-danger" ng-if="error">Invalid old password.</div>
    <div class="form-horizontal">
      <div class="form-group">
        <label class="col-sm-3 control-label">Old password</label>
        <div class="col-sm-9">
          <input class="form-control" type="password" ng-model="oldPassword" autocomplete="off" required="required"/>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">New password</label>
        <div class="col-sm-9">
          <input class="form-control" type="password" name="newPassword" ng-model="newPassword" minlength="6" maxlength="32" pattern=".*(?=.*[A-Z]+)(?=.*[a-z]+)(?=.*[\d]+).*" autocomplete="off" required="required"/>
          <div class="form-control-error" ng-messages="form.newPassword.$error" ng-if="form.newPassword.$dirty || form.$submitted">
            <div ng-message="pattern">{{'validation.errors.invalid_password'|translate}}</div>
            <div ng-message="minlength">{{'validation.errors.password_minlength'|translate}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer clearfix">
    <div class="pull-right">
      <button class="btn btn-warning" type="button" ng-click="$close()">Cancel</button>
      <button class="btn btn-primary" type="submit">Change</button>
    </div>
  </div>
</form>