
<form ng-submit="submit(form)" name="form" novalidate="novalidate">
  <div class="modal-header">
    <h3 class="modal-title">Are you ABSOLUTELY sure?</h3>
  </div>
  <div class="modal-body">
    <div class="alert alert-warning">Unexpected bad things will happen if you don’t read this!</div>
    <p>This action CANNOT be undone. This will permanently delete the project and all associated data (table, groups, etc.).</p>
    <p>Please type in DELETE to confirm.</p>
    <div class="form-group">
      <input class="form-control" name="code" type="text" ng-model="model.code" ng-equal="DELETE" required="required" placeholder=""/>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger" type="submit" ng-disabled="form.$invalid">Delete</button>
    <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
  </div>
</form>