
<div class="welcome">
  <h4 class="welcome__header">Welcome to Gandalf</h4>
  <div class="welcome__content"><p>Woohoo! You have created Gandalf account.</p>
<p>Now you just minues away from making decisions or scoring your clients.</p>

  </div>
  <div class="welcome__content" ng-if="!user.active"><p>We have sent you activation letter. Right now you can keep using Gandalf, but decision API will be available only after you will click on activation link.</p>

  </div>
  <p class="btn-actions"><a class="btn btn-submit" ui-sref="welcome-project-add">Continue</a></p>
</div>